.quarto-title-block .quarto-title-banner {
  background-image: url(img/putin.jpg);
  background-size: 180px;                   /* taille de l'image */
  background-repeat: no-repeat;
  background-position: 20px center;         /* centrée verticalement, 20px du bord */
  
  min-height: 160px;                        /* donne l'espace nécessaire pour le texte */
  padding-left: 220px;                      /* espace réservé à l'image */
  display: flex;
  align-items: center;
}