.quarto-title-block .quarto-title-banner {
  background-image: url(img/putin.jpg);
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
  color: #202D56;
}