<style>
.html-widget {
  margin-top: -50px !important; /* Remonte le graphique vers le code */
  margin-bottom: 0px !important;
}

.sankeyNetwork svg {
  width: 100% !important;
  height: 100% !important;
}
</style>